#ENV FILE FOR REDDAP

NEXT_PUBLIC_BASE_URL="localhost:3333"
NEXT_PUBLIC_SANITY_API_VERSION="2024-05-14"
SANITY_API_READ_TOKEN=""
NEXT_PUBLIC_SANITY_DATASET=""
NEXT_PUBLIC_SANITY_PROJECT_ID=""


# fastmail.com
FASTMAIL_USER="h@s.w"
FASTMAIL_PASS=""
