@import 'tailwindcss';

@theme {
  --grid-template-columns-3-small: repeat(3, minmax(0, 0.1fr));
  --grid-template-columns-24: repeat(24, minmax(0, 1fr));
  --grid-template-columns-12: repeat(12, minmax(0, 1fr));
  --grid-template-columns-8: repeat(8, minmax(0, 1fr));
  --grid-template-columns-4: repeat(4, minmax(0, 1fr));
  --grid-template-columns-3: repeat(3, minmax(0, 1fr));
  --grid-template-columns-2: repeat(2, minmax(0, 1fr));
  --grid-template-columns-3-small: repeat(3, minmax(0, 0.1fr));
}
